.banner {
    font-family: sans-serif;
    font-size: 12px;
    background-image:url("/assets/imgs/banner/blade_runner.jpg");
    background-size: cover;
    width: 96.5%;
    margin-left: 2%;
    border-radius: 32px;
}

.banner_header_xp, .banner_header_text, .banner_footer_options, .banner_footer_watch, .banner_footer_add, .banner_footer_movies  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_header_xp, .banner_footer_watch, .banner_footer_add_button, .banner_footer_movies_img {
    border-radius: 18px;
}

.banner_header, .banner_footer {
    display: flex;
}

.banner_header {
    margin: 2% 0 0 3%;
    height: 32px;
}

.banner_header_xp {
    background: #00000060;
    width: 4%;
}

.banner_header_profile {
    margin: 0 1% 0 2%;
}

.banner_header_profile_img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -10px;
    cursor: pointer;
}

.banner_header_profile_img:hover {
    width: 32px;
    height: 32px;
}

.banner_title {
    margin: 7% 0 0 3%;
}

.banner_title_movie {
    padding-bottom: 15px;
    font-size: 36px;
}

.banner_footer {
    justify-content:space-between;
    width: 90%;
    margin: 2% 0 0 3%;
    height: 70px;
}

.banner_footer_watch {
    width: 80px;
    height: 50px;
    background-color:rgba(216,31,38,255);
    margin-right: 15px;
}

.banner_footer_add_button {
    width: 50px;
    height: 50px;
    background-color: #c9c1c170;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.banner_footer_movies_img {
    width: 80px;
    height: 50px;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
}

.banner_footer_movies_img:hover {
    width: 100px;
    height: 70px;
    border: 4px solid rgba(223, 220, 217, 40%);
}

.banner, .banner_footer_add, .banner_footer_watch_link {
    color: #fff;
}

.banner_footer_watch_link {
    text-decoration: none;
}