* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2C2D35;
  border-radius: 20px;
}
#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 73% 7%;
  grid-template-rows: 14% 1fr;
  grid-template-areas:
    "aside header members"
    "aside content members";
  background-color: violet;
}

#header {
  background-color: antiquewhite;
  overflow: hidden;
  grid-area: header;
}

#aside {
  background-color: aqua;
  overflow: hidden;
  grid-area: aside;
}

#members {
  background-color: brown;
  overflow: hidden;
  grid-area: members;
}

#content {
  grid-area: content;
}
#banner {
  background-color: cadetblue;
  grid-area: banner;
  height: 46%;
}
#parties {
  background-color: blue;
  grid-area: parties;
  min-height: 27%;
}
#wathing {
  background-color: blueviolet;
  grid-area: wathing;
  min-height: 27%;
}
