
.sidebar ul {
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a {
    color:rgba(149,150,157,255);
}

.section_text {
    color:rgba(149,150,157,255);
}

.sidebar_header {
    width: 100%;
    padding-bottom: 32px;
    color: #fff;
}

.logo_netflix {
    font-size: 24px;
}

.logo_netflix::after {
    content: ".";
    color: red;
}

.logo_menu {
    margin-bottom: 12px;
}

.logo_social, .logo_general {
    margin-top: 24px;
    margin-bottom: 16px;
}